### Q1

Name the four built-in data structures in python. Give one examples for each

**Solution**

1. Lists:-
fruits = ['apple', 'banana', 'cherry','apple','cherry']
2. Sets:-
data = {1, 2, 3, 'apple', 'banana'}
3. Tuples:-
data = (1, 2, 'one', 'three')
4. Dictionaries:-
data = {'name': 'John', 'age': 30, 'city': 'New York'}

### Q2

State two differences between a list and a tuple in Python.
- Mutability: A list can be modified after its creation whereas a tuple can not be modified after its creation.
- Syntax: A list uses square brackets [] while tuples use parenthenses ()

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list
- How many elements are in the animal_set?

In [12]:
animal_list = ['dog', 'lion', 'goat', 'pig', 'fowl']
print(animal_list[0:2])
print(animal_list[-2:])
animal_list.append('monkey')
animal_list.append('gorilla')
animal_list.append('cow')
print(animal_list)
new_list = animal_list[2:]
print(new_list)
print(len(new_list))
animal_set = set(new_list)
print(animal_set)
print(len(animal_set))

['dog', 'lion']
['pig', 'fowl']
['dog', 'lion', 'goat', 'pig', 'fowl', 'monkey', 'gorilla', 'cow']
['goat', 'pig', 'fowl', 'monkey', 'gorilla', 'cow']
6
{'cow', 'monkey', 'fowl', 'goat', 'gorilla', 'pig'}
6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [17]:
first = []
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

for i in range(0,3):
  val = suitcase[i]
  first.append(val)

print(first)

['sunglasses', 'hat', 'passport']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [18]:
values = [20, 25, 30, 40, 45, 50, 55, 60, 65, 70]
index_to_insert = 0
for i in range(len(values)):
    if values[i] > 35:
        index_to_insert = i
        break
values.insert(index_to_insert, 35)

print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?


A tuple is preferable over a list when the data you are working with is immutable. i.e data won't be modified after its creation.

Also if the data is not large and it's immutable for better performance a tuple is more desired.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [19]:
region_capital = {
    'Greater Accra': 'Accra',
    'Ashanti': 'Kumasi',
    'Western': 'Sekondi-Takoradi',
    'Eastern': 'Koforidua',
    'Central': 'Cape Coast'
}

print("Regions:")
for region in region_capital.keys():
    print(region)


print("\nCapitals:")
for capital in region_capital.values():
    print(capital)

Regions:
Greater Accra
Ashanti
Western
Eastern
Central

Capitals:
Accra
Kumasi
Sekondi-Takoradi
Koforidua
Cape Coast

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [24]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

print(f"total number of values is {len(values)}")

print(f"max value is {max(values)}")

total number of values is 15
max value is 6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [25]:
square_dict = {num: num ** 2 for num in range(1, 16)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [26]:
my_dict = {'x': list(range(11, 21)),
           'y': list(range(21, 31)),
           'z': list(range(31, 41))}

fifth_value_x = my_dict['x'][4]
fifth_value_y = my_dict['y'][4]
fifth_value_z = my_dict['z'][4]

print("Fifth value of key 'x':", fifth_value_x)
print("Fifth value of key 'y':", fifth_value_y)
print("Fifth value of key 'z':", fifth_value_z)

Fifth value of key 'x': 15
Fifth value of key 'y': 25
Fifth value of key 'z': 35