## Data Structures Part 1: Lists, Tuples

## Lists

#### Lists are ordered collections of items in Python. They are mutable, meaning their elements can be modified after creation.
#### Lists are created using square brackets [] or the list() constructor.

### Example:

#### my_list = [1, 2, 3, 4, 5]

### Methods:

#### append(): Adds an element to the end of the list.
#### extend(): Extends the list by appending elements from another list.
#### insert(): Inserts an element at a specified position.
#### remove(): Removes the first occurrence of a specified value.
#### pop(): Removes and returns the element at a specified position (default is the last element).
#### index(): Returns the index of the first occurrence of a specified value.
#### count(): Returns the number of occurrences of a specified value.
#### sort(): Sorts the list in ascending order.
#### reverse(): Reverses the order of elements in the list.

In [2]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

In [3]:
#append()
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [4]:
#extend()
list_to_extend = [7,8,9]
my_list.extend(list_to_extend)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#insert()
my_list.insert(2,10)
print(my_list)

[1, 2, 10, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#remove()
my_list.remove(3)
print(my_list)

[1, 2, 10, 4, 5, 6, 7, 8, 9]

In [ ]:
#pop()
popped_element = my_list.pop(3)
print(popped_element)
print(my_list)

4
[1, 2, 10, 5, 6, 7, 8, 9]

In [ ]:
#index()
index = my_list.index(5)
print(index)

3

In [ ]:
#count()
count = my_list.count(10)
print(count)

1

In [ ]:
print(my_list)

[1, 2, 10, 5, 6, 7, 8, 9]

In [ ]:
#sort()
my_list.sort()
print(my_list)

[1, 2, 5, 6, 7, 8, 9, 10]

In [ ]:
#reverse()
my_list.reverse()
print(my_list)

[10, 9, 8, 7, 6, 5, 2, 1]

### To reverse:
    Sort first
    then reverse

In [ ]:
my_list1 = [2,4,1,3,6,5,7]
my_list1.sort()
my_list1.reverse()

In [ ]:
print(my_list1)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#sorted()
my_list1 = [2,4,1,3,6,5,7]
my_list2 = sorted(my_list1)
print(my_list2)

[1, 2, 3, 4, 5, 6, 7]

## Tuples

#### Tuples are ordered collections of items, similar to lists, but they are immutable, meaning their elements cannot be changed after creation.
#### Tuples are created using parentheses () or the tuple() constructor.
### Example:
#### my_tuple = (1, 2, 3, 4, 5)
### Methods:
#### Tuples have fewer methods compared to lists since they are immutable. They include methods like count() and index() similar to lists.

In [ ]:
#Example:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
# count()
count = my_tuple.count(3)  # Returns the number of occurrences of 3
print(count)  # Output: 1

1

In [ ]:
# index()
index = my_tuple.index(4)  # Returns the index of the first occurrence of 4
print(index)  # Output: 3

3

## Data Structures Part 2: Dictionaries,Sets

## Dictionaries

#### Dictionaries are unordered collections of key-value pairs. They are mutable and are useful for storing data in the form of key-#### value mappings.
#### Dictionaries are created using curly braces {} or the dict() constructor.

### Example:

#### my_dict = {"name": "John", "age": 30, "city": "New York"}

### Methods:

#### clear(): Removes all key-value pairs from the dictionary.
#### copy(): Returns a shallow copy of the dictionary.
#### get(): Returns the value for a specified key.
#### items(): Returns a view object containing key-value pairs.
#### keys(): Returns a view object containing the keys.
#### values(): Returns a view object containing the values.
#### pop(): Removes the item with the specified key and returns its value.
#### popitem(): Removes and returns an arbitrary key-value pair.
#### update(): Updates the dictionary with the specified key-value pairs from another dictionary or iterable.

In [ ]:
# Creating a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

In [ ]:
#get()
age = my_dict.get('age')
print(age)

30

In [ ]:
#indexing
age = my_dict['age']
print(age)

30

In [ ]:
#items()
items = my_dict.items()
print(items)

dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])

In [ ]:
#keys()
keys = my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [ ]:
#values()
values = my_dict.values()
print(values)

dict_values(['John', 30, 'New York'])

In [ ]:
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
#update()
my_dict.update({'age':35,'gender':'Male'})
print(my_dict)

{'name': 'John', 'age': 35, 'city': 'New York', 'gender': 'Male'}

## Sets

#### Sets are unordered collections of unique elements in Python. They are mutable, but their elements must be immutable (e.g., integers, strings).
#### Sets are created using curly braces {} or the set() constructor.

### Example:
#### my_set = {1, 2, 3, 4, 5}

### Methods:
#### add(): Adds an element to the set.
#### update(): Updates the set with elements from another set or iterable.
#### remove(): Removes a specified element from the set.
#### discard(): Removes a specified element from the set if it is present.
#### pop(): Removes and returns an arbitrary element from the set.
#### clear(): Removes all elements from the set.
#### union(): Returns a new set containing the union of two sets.
#### intersection(): Returns a new set containing the intersection of two sets.
#### difference(): Returns a new set containing the difference between two sets.
#### symmetric_difference(): Returns a new set containing the symmetric difference between two sets.

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

In [ ]:
#add()
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#update
my_set.update({7,8,9})
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#remove()
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7, 8, 9}

In [ ]:
#discard()
my_set.discard(5)
print(my_set)

{1, 2, 4, 6, 7, 8, 9}

In [ ]:
#pop
popped_element = my_set.pop()
print(popped_element)

1

In [ ]:
#clear()
my_set.clear()
print(my_set)

set()

In [ ]:
# Creating sets for methods demonstration
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [ ]:
#union()
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
union_set1 = set1 | set2
print(union_set1)

{1, 2, 3, 4, 5}

In [ ]:
#intersection()
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [ ]:
#intersection operator
intersection_set1 = set1 & set2
print(intersection_set1)

{3}

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [ ]:
#difference
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [ ]:
#difference
difference_set = set2.difference(set1)
print(difference_set)

{4, 5}

In [ ]:
#symmetric difference
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 2, 4, 5}