# Exercise

## Use this for the exercise

In [1]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {
    'Name': ['John', 'Alice', 'Bob', 'Emily', 'David'],
    'Age': [30, 25, 35, 28, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'San Francisco'],
    'Gender': ['M', 'F', 'M', 'F', 'M']
}
df = pd.DataFrame(data)

# Save DataFrame to a CSV file
df.to_csv('data.csv', index=False)


# Create a new DataFrame from a dictionary
new_data = {
    'Name': ['Michael', 'Sarah'],
    'Age': [41, 40],
    'City': ['Miami', 'Seattle'],
    'Gender': ['M', 'F']
}

## Question 1:

### How do you read a CSV file into a pandas DataFrame?

In [2]:
# using the read_csv method in a pandas dataframe object
df_csv_read = pd.read_csv('data.csv')
df

    Name  Age           City Gender
0   John   30       New York      M
1  Alice   25    Los Angeles      F
2    Bob   35        Chicago      M
3  Emily   28        Houston      F
4  David   32  San Francisco      M

## Question 2:

### How do you select only specific columns from a DataFrame?

In [12]:
# selecting specific columns in a dataframe using df["column_name"]
df_column_age = df["Age"]
df_column_age

0    30
1    25
2    35
3    28
4    32
Name: Age, dtype: int64

## Question 3:

### How do you filter rows in a DataFrame based on a condition?

In [18]:
# filtering rows in a dataframe based on a condition such as greater than || less than
filtered_row = df[df["Age"] > 30]
filtered_row

    Name  Age           City Gender
2    Bob   35        Chicago      M
4  David   32  San Francisco      M

## Question 4:

### How do you drop missing values (NaN) from a DataFrame?

In [23]:
# using the drop na function
drop_nan_values = df.dropna()
drop_nan_values

    Name  Age           City Gender
0   John   30       New York      M
1  Alice   25    Los Angeles      F
2    Bob   35        Chicago      M
3  Emily   28        Houston      F
4  David   32  San Francisco      M

## Question 5:

### How do you merge two DataFrames in pandas?

In [31]:
# merging two dataframes in pandas 
# first i convert my new_data dict object to a dataframe using the pd.DataFrame method
new_data_dict2df = pd.DataFrame(new_data)
new_data_dict2df
merged = df.merge(new_data_dict2df, on='Name', axis=1)
# new_data_dict2df = pd.DataFrame(new_data)
# mergerd_dataframes = df.merge(new_data_dict2df, on='Name', axis=0)
# mergerd_dataframes

TypeError: DataFrame.merge() got an unexpected keyword argument 'axis'

## Question 6:

### How do you create a new DataFrame from a dictionary?

## Question 7:

### How do you fill missing values in a DataFrame with a specific value?

## Question 8:

### How do you create a DataFrame from a CSV file with custom column names?

## Question 9:

### How do you merge two DataFrames based on multiple columns?

## Question 10:

### How do you perform an inner join between two DataFrames in pandas?

## Question 11:

### How do you perform a left join between two DataFrames in pandas?

## Question 12:

### How do you perform a right join between two DataFrames in pandas?

## Question 13:

### How do you concatenate two DataFrames vertically in pandas?

## Question 14:

### How do you concatenate two DataFrames horizontally in pandas?

## Question 15:

### How do you group data in a DataFrame based on a column using the groupby function in pandas?

In [ ]:
#