## Strings

In [ ]:
name = "BlossomAcademy"

In [ ]:
#upper()
name_ = name.upper()
print(name_)

BLOSSOMACADEMY

In [ ]:
#lower()
name_ = name.lower()
print(name_)

blossomacademy

In [ ]:
#isalpha
print(name.isalpha())

True

In [ ]:
#isdigit()
print(name.isdigit())

False

In [ ]:
#islower()
print(name.islower())

False

In [ ]:
#isupper()
print(name.isupper())

False

In [ ]:
#split
name = "Blossom Academy is the best"
print(name.split(' '))

['Blossom', 'Academy', 'is', 'the', 'best']

In [ ]:
#join()
name ="Blossom Academy is the best"
name_ = name.split(' ')
print('_'.join(name_))

Blossom_Academy_is_the_best

In [ ]:
#replace()
name = "BlossomAcademy"
name_ = name.replace('l','e')
print(name_)

BeossomAcademy

In [ ]:
#replace()
name = "BlossomAcademy"
name_ = name.replace('Academy','School')
print(name_)

BlossomSchool

In [ ]:
#startswith()
name = "BlossomAcademy"
print(name.startswith("B"))

True

In [ ]:
#endswith()
name = "BlossomAcademy"
print(name.endswith('y'))

True

## String Formatting

#### String formatting is essential for creating readable and well-structured output in Python programs.
#### It allows you to combine text and variables seamlessly.

In [ ]:
name = "Precious"
age = 30
print("Hello, my name is "+ name + " and I am " + str(age) + " years old.")

Hello, my name is Precious and I am 30 years old.

### Using f-strings (Formatted String Literals):

#### F-strings provide a more concise and readable way to format strings by embedding expressions directly within them.

In [ ]:
name = "Precious"
age = 30
print(f"Hello, my name is {name} and I am {age} years old.")

Hello, my name is Precious and I am 30 years old.

In [ ]:
name = "John"
age = 25
print(f"Hello, my name is {name} and I am {age} years old.")

Hello, my name is John and I am 25 years old.

### Using the .format() method:

#### The .format() method allows for more complex string formatting by using placeholders and format specifiers.

In [ ]:
name = "Precious"
age = 30
print("Hello, my name is {} and I am {} years old.".format(name,age))

Hello, my name is Precious and I am 30 years old.

In [ ]:
name = "John"
age = 25
print("Hello, my name is {0} and I am {1} years old.".format(name,age))

Hello, my name is John and I am 25 years old.

In [ ]:
name = "John"
age = 27
print("Hello, my name is {name1} and I am {age1} years old.".format(name1=name,age1=age))

Hello, my name is John and I am 27 years old.

## Control Flow: If Statements, Loops, and Conditional Statements


## If Statements

### If statements allow you to execute code conditionally based on the evaluation of an expression.

### Syntax:

#### if condition:
        # Code block to execute if condition is True

In [ ]:
#if statement
x = 10
if x > 0 and x % 2 == 0:
    print("x is an even number")

x is an even number

In [ ]:
#if statement
x = 11
if x > 0 and x % 2 == 0:
    print("x is an even number")

## If-Else Statements

### If-else statements allow you to execute different code blocks based on the evaluation of a condition.

### Syntax:

#### if condition:
    # Code block to execute if condition is True
#### else:
    # Code block to execute if condition is False

In [ ]:
#if else statement
x = int(input("Enter a number: "))
if x > 0 and x% 2 == 0:
    print("x is an even number")
else:
    print("x is an odd number")

Enter a number: 10
x is an even number

In [ ]:
#if else statement
x = int(input("Enter a number: "))
if x > 0 and x% 2 == 0:
    print("x is an even number")
else:
    print("x is an odd number")

Enter a number: 11
x is an odd number

In [ ]:
#Nested if
age = 14
if age >= 18:
    if age < 21:
        print('You are an adult, but not yet allowed to drink')
    else:
        print("You are an adult and allowed to drink")
else:
    print("You are underage")

You are underage

## If-Elif-Else Statements

### If-elif-else statements allow you to test multiple conditions sequentially and execute the corresponding code block of the first true condition.

### Syntax:
#### if condition1:
        # Code block to execute if condition1 is True
#### elif condition2:
        # Code block to execute if condition2 is True
#### else:
        # Code block to execute if all conditions are False

In [ ]:
#if-elif-else
age = 23
if age >= 18 and age < 21:
    print('You are an adult but not allowed to drink yet')
elif age >= 18 and age >=21:
    print("You are an adult and allowed to drink")
else:
    print("you are underage")

You are an adult and allowed to drink

In [ ]:
score = int(input('Enter a score: '))
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('Fail')

Enter a score: 90
A

## Tenary Operators

#### The ternary operator is a concise way to express conditional statements.

In [ ]:
num = 10
result = "Positive" if num > 0 else "Negative"
print(result)

Positive

In [ ]:
x = 15
result = "Even" if x % 2 == 0 else "Odd"
print(result)

Odd

## For Loops

### For loops are used to iterate over a sequence (such as a list, tuple, or string) and execute a block of code for each element in the sequence.

### Syntax:

#### for item in iterable:
        # Code block to execute for each item

In [ ]:
#iterating over a list
list_ = ['apple','banana','orange','mango']
for item in list_:
    print(item)

apple
banana
orange
mango

In [ ]:
#iterating over a list to print odd numbers
list_ = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for i in list_:
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15

In [ ]:
#iterating over a dictionary
person = {'name': 'Precious','age': 28,'city':'New York'}
for key, value in person.items():
    print(f"{key}:{value}")

name:Precious
age:28
city:New York

In [ ]:
#iterating to get sum
list_ = [20,30,40,50,60,70,80]
total = 0
for item in list_:
    total += item
print(total)

350